<div class="container m-4">
  <%= form_with model: @spot do |form| %>
    <% if @spot.errors.any? %>
      <div>
        <h4><%= pluralize(@spot.errors.count, "erreur") %> :</h4>
        <ul>
          <% @spot.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="fieldset">
      <%= form.label :name, "Nom de l'établissement", class: "fieldset-legend" %>
      <%= form.text_field :name, class: "input", placeholder: "Musée Grévin" %>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :description, "Description", class: "fieldset-legend" %>
      <%= form.text_area :description, class: "textarea h24", placeholder: "Lieu d'art..." %>
    </fieldset>

<!--    <fieldset class="fieldset">-->
      <%#= form.label :address, "Adresse", class: "fieldset-legend" %>
      <%#= form.text_field :address, class: "input", placeholder: "33 rue ..." %>
<!--    </fieldset>-->

    <fieldset class="fieldset">
      <%= form.label :address, "Adresse", class: "fieldset-legend" %>
      <label class="input">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <!--      <input type="search" class="grow" placeholder="Search" />-->
        <%=
          form.text_field :address,
                          class: "grow",
                          placeholder: "33 rue ...",
                          data: {
                            map_target: "address-input",
                            controller: "autofill-search-address",
                            autofill_search_address_target: "addressInput"
                          }
        %>
      </label>
    </fieldset>

    <fieldset class="fieldset">
      <label class="label">
        <%= form.check_box :is_social_impact, class: "checkbox" %>
        Lieu à impact
      </label>
    </fieldset>

    <!-- TODO: Ajouter les autres input nécessaire -->

    <div class="container m-4">
      <%= form.submit "Ajouter un spot", class: "btn" %>
      <%= link_to "Annuler", spots_path, class: "btn" %>
    </div>
  <% end %>
</div>

