<div class="flex items-center justify-center h-80">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex justify-between grid justify-items-stretch">
        <h2 class="text-3xl font-bold"><%= @user.username %></h2>
      </div>

      <p>Email: <%= @user.email_address %></p>

      <%= link_to "Modifier", edit_user_path(@user), class: "btn btn-sm" %>

      <%= button_to "Supprimer", @user,
                    method: :delete,
                    data: { turbo_confirm: "Êtes-vous sûr ?" },
                    class: "btn btn-sm btn-outline btn-error w-full"
      %>

      <%= link_to "Back", root_path, class: "btn btn-sm" %>
    </div>
  </div>
</div>