<div class="flex items-center justify-center h-screen">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex justify-between">
        <h2 class="text-3xl font-bold">Inscription</h2>
      </div>

      <%= form_with model: @user, url: registrations_path do |form| %>
        <% if @user.errors.any? %>
          <div class="alert alert-error mb-4">
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <fieldset class="fieldset">
          <%= form.text_field :username, required: true, autocomplete: "username", placeholder: "Pseudo", value: params[:username], class: "input" %>
        </fieldset>

        <fieldset class="fieldset">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email_address", placeholder: "Votre adresse email", value: params[:email_address], class: "input" %>
        </fieldset>

        <fieldset class="fieldset">
          <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Entrez votre mot de passe, minimum 8 caracrtères", minlenght: 8,maxlength: 72, class: "input" %>
        </fieldset>

        <fieldset class="fieldset">
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirmez votre mot de passe", minlenght: 8, maxlength: 72, class: "input" %>
        </fieldset>

        <div class="mt-6">
          <%= form.submit "S'inscrire", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= link_to "Mot de passe oublié?", new_password_path %>
      <%= link_to "Déjà un compte ? Se connecter", new_session_path, class: "link" %>
    </div>
  </div>
</div>